$bg-color: white;
$primary-color: navy;
$sidebar-length: 150px;
$banner-font-color: whitesmoke;
$section-bar-size: 80px;

// Utilities

.not-visible {
    display: none !important;
}

// Structure

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    .nav-top {
        background-color: $bg-color;
        height: 50px;
        margin: 0 auto;
        border: 1px solid black;
        display: flex;
        width: 100%;
        .hamburger-button {
            border-radius: 3%;
            font-weight: bolder;
            font-size: 1.5em;
            padding: 5px;
            color: $primary-color;
            margin: 5px;
        }
        .top-title {
 
            width: 100%;
            align-self: center;
            h3 {
                margin: 0 auto;
            }
            p {
                margin: 0 auto;
            }
        }
        
    }
        .side-nav {
            position: fixed;
            left:0;
            z-index: 1;
            width: $sidebar-length;
            margin-right: 50px;
            height: 100vh;
            h3 {
                text-align: center;
                margin-bottom: 0;
                margin-top: 10px;
            }

            p {
                text-align: center;
                margin-top: 0;
            }

            hr {
                margin: 15px;
                color: gray;
            }

            ul {
                list-style-type: none;
                margin-left: 15px;
                li {
                    margin-top: 15px;
                }
            }
        }
    
    .main-content {
        height: 100%;
        width: calc(100% - $sidebar-length);
        margin-left: $sidebar-length;
        header {
            max-height: 100vh;
            .presentation-container {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-photo.jpg");
                background-size: contain;
                min-height: 100vh;
                width: 100vw;
                color: $banner-font-color;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .section-bar {
            background-color: $primary-color;
            height: $section-bar-size;
            color: $banner-font-color;
            h2 {
                line-height: $section-bar-size;
                font-weight: 300;
                font-size: 2em;
            }
        }
    
    }
    
}

.my-name {
    color: $primary-color;
}
.my-title {
    font-weight: 200;
}

.fa-user {
    margin-right: 8px;
    margin-left: 3px;
}

.fa-laptop-code {
    margin-right: 5px;
}

.fa-envelope {
    margin-right: 7px;
    margin-left: 2px;
}